@model IEnumerable<qStore.Models.Category>

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "EditCategory", new{@class = "btn btn-primary"})
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDisabled)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDisabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCategory", new { id=item.Id , @class = "btn btn-warning"}) |
            @Html.ActionLink("Delete", "DeleteCategory", new { id=item.Id, @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>
