@using qStore.Filters

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @{
        //Для того чтобы ссылки начали работать в режиме Ajax необходимы настройки для запроса
        var ajaxOptions = new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "container"
        };
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("q-Store", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Ajax.ActionLink("Products", "Index", "Home", ajaxOptions)</li>
                    <li>@Ajax.ActionLink("About", "About", "Home", ajaxOptions)</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("Administration", "Index", "Admin")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (Request.Cookies.IsAuthenticated())
                    {
                        <li>@Html.ActionLink("Log Out", "LogOut", "Account")</li>
                    }
                    else
                    {
                        <li>@Ajax.ActionLink("Log In", "LogIn", "Account", ajaxOptions)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" id="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - q-Store (c)</p>
        </footer>
    </div>


</body>
</html>
